.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: 0 0 0 1px #1a191a;
}
.navbar-toggler-icon {
  font-size: 0.8em;
  filter: invert(100%);
}
.bg-navbar {
  background-color: hsl(28, 39%, 28%);
}
.text-navbar > li > a {
  color: hsl(0, 0%, 85%);
  transition: all 0.3s ease-out;
}
.text-navbar > li > a:hover {
  color: hsl(0, 0%, 100%);
}
